name: staticS3Deploy

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: tf
        uses: hashicorp/setup-terraform@v3
      - run: cd terraform; terraform init

      - id: plan
        run: cd terraform; pwd; ls -lah; terraform apply -no-color --var-file=envs/prod.tfvars --var="api_key=${{ secrets.DREAMHOST_KEY }}" --auto-approve

      # - run: echo "${{ steps.plan.outputs.stdout }}"
      # - run: echo ${{ steps.plan.outputs.stderr }}
      # - run: echo ${{ steps.plan.outputs.exitcode }}
