name: staticS3Deploy

on:
  push:
    branches: ["master", "dev", "bugFix", "static"]
  schedule:
    - cron: "0 0 * * 1,3,6"

  workflow_dispatch:
    inputs:
      env:
        required: true
        default: "dev"
        description: "The environment to deploy to"
        type: choice
        options:
          - prod
          - dev

permissions:
  id-token: write # Required for OIDC authentication
  contents: read # Required to checkout your repository code

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build and export Next.js application
        run: |
          npm run build
          node scripts/post-build.js
          ls -lah out/

        env:
          NEXT_SHARP_REQUIRE_CDN: 1
      - name: Deploy to Nostr/Blossom
        #uses: sandwichfarm/nsite-action@v0.2.2
        uses: auggie-lahey/nsite-action@0.0.0
        continue-on-error: false
        with:
          nbunksec: ${{ secrets.NBUNKSEC }}
          verbose: true
          directory: './out'  
          relays: |
            wss://relay.damus.io
            wss://nos.lol
            wss://relay.nsite.lol
            wss://relay.primal.net
          servers: |
            https://cdn.hzrd149.com
            https://cdn.sovbit.host
            https://blossom.band
          concurrency: 4
          fallback: /index.html
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-2

      - name: Run AWS CLI Command (Example)
        run: |
          ls -lah
          ls -lah out
          did="E1MUWYLHGG5S4S"
          if [[ "${{ inputs.env }}" == "prod" ]]; then
            bucket=kcbitcoiners.com/
          else
            bucket=dev.kcbitcoiners.com/
          fi
          aws s3 sync out/ s3://${bucket} --delete
          aws cloudfront create-invalidation --distribution-id $did --paths "/*"
